*{
    box-sizing: border-box;;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif; 
}

header{
    padding: 20px 2vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 12vh;
    background-color: rgba(0,0,0,0.8);
    // Filter elements under the element!!!
    backdrop-filter: blur(15px);
    a{
        text-decoration: none;
        color: #f5f5f7;
    }
    #logo{
        font-size: 50px;
        font-family: 'Fascinate', cursive;
    }

    div{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .searchBar{
            padding: 0 3vw;
            height: 5vh;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            #city, #searchBt{
                margin: 0 20px;
                height: 100%;
                outline: none;
            }
            #city{
                width: 200px;
                height: 30px;
            }
            #searchBt{
                width: 30px;
                height: 30px;
            }
            // button{
            //     height: 100%;
            //     width: 30px;
            //     img{
            //         height: 100%;
            //         width: 30px;
            //     }
            // }
        
        }

        nav{
            a{
                margin: 0 20px;
            }
        }
    }

    
}

.unitSwitch{
    position: fixed;
    bottom: 3vh;
    right: 30px;
    height: 50px;
    width: 80px;
    font-size: 1.5em;
    background-color: #278AB0;
    color: white;
    border-radius: 10px;
    outline: none;
}

//separate section's style
section:nth-child(even){
    background-color: #fbfbfd;
}
section{
    padding: 2vh 0;
    // Prevent anchor links from scrolling behind a sticky header!!!
    scroll-margin-top: 12vh;
    h1{
        padding: 5vh 0 5vh 2vw;
        color: #DC7260;
        font-size: 2em;
    }
}

h6, li{
    color: rgb(92, 92, 92);
}



.cityWeather{
    width: 80%;
    height: 300px;
    margin: 5vh auto;

    display: grid;
    grid-template-columns: 1fr 1.5fr;
    
    place-items: center;

    h3{
        font-size: 2em;
    }
    h4{
        font-size: 1.5em;
    }
    h5{
        font-size: 1em;
    }
    ul{
        grid-column: 2/3;
        grid-row: 1/3;
        align-self: end;
        list-style: none;
        font-weight: normal;
        li{
            padding: 5px 0;
            width: 0%;
            white-space: nowrap;
            opacity: 0;
        }
        li::before{
            content: '>';
        }
    }
}

.cityTitle{
    text-align: center;
    padding: 5vh 0;
}

.forcastWeatherGroup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
    width: 90%;
    margin: 5vh auto;
    .forcastWeather{
        border: black 2px solid;
        border-radius: 12px;
        width: 300px;
        height: 300px;
        padding: 10px;

        display: grid;
        grid-template-rows: 2fr 2fr 3fr;
        align-items: center;
        h4{
            font-size: 2em;
        }
        ul{
            list-style: none;
            
        }
    }
}


footer{
    text-align: center;
    bottom: 0;
    right: 0;
    padding: 3vh 0;
    margin: 0 5vw;
    border-top: solid grey 1px;
}