*{
    box-sizing: border-box;;
    margin: 0;
    padding: 0;
}



header{
    padding: 20px 2vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a{
        text-decoration: none;
    }
    #logo{
        color: black;
        font-size: 50px;
    }
    nav{
        a{
            margin: 0 20px;
            color: black;
        }
    }
}

.searchBar{
    padding: 0 3vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    input{
        margin: 0 20px;
    }

}

.cityWeather{
    border: black 2px solid;
    border-radius: 12px;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 15vh auto;

    display: grid;
    grid-template-rows: 2fr 2fr 3fr;
    align-items: center;
}

.cityTitle{
    text-align: center;
    padding: 5vh 0;
}

.forcastWeatherGroup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
    margin: 10vh auto;
    .forcastWeather{
        border: black 2px solid;
        border-radius: 12px;
        width: 300px;
        height: 300px;
        padding: 10px;
        // margin: 5vh 5vw;

        display: grid;
        grid-template-rows: 2fr 2fr 3fr;
        align-items: center;
    }
}


footer{
    text-align: center;
    // position: fixed;
    bottom: 0;
    right: 0;
}